.pagination {
    margin: 0;
    margin-top: 55px;
    @extend %flex;
    justify-content: center;
    @include breakpoint(max-sm) {
        margin-top: 30px;
    }
    .page-item {
        text-align: center;
        padding: 3px;
        a,
        span {
            font-weight: 600;
            width: 45px;
            height: 45px;
            color: $base-color;
            line-height: 45px;
            padding: 0;
            // border: none;
            border-radius: 50% !important;
            border-color: rgba($base-color,.1);
            background: $body-bg;
            box-shadow: none;
            outline: 0;
        }
        span {
            border: none;
        }
        &.active,
        &:hover {
            span,
            a {
                background: $base-color;
                color: $dark;
                border-color: rgba($base-color,1);
            }
        }
        &.disabled {
            cursor: no-drop !important;
            span, a {
                background: rgba($white, .05);
                border: none;
                color: $title-color;
            }
        }
    }
}
